[submodule "dspico-dldi"]
	path = dspico-dldi
	url = https://github.com/LNH-team/dspico-dldi
[submodule "dspico-bootloader"]
	path = dspico-bootloader
	url = https://github.com/LNH-team/dspico-bootloader
[submodule "DSRomEncryptor"]
	path = DSRomEncryptor
	url = https://github.com/Gericom/DSRomEncryptor
[submodule "dspico-wrfuxxed"]
	path = dspico-wrfuxxed
	url = https://github.com/LNH-team/dspico-wrfuxxed
[submodule "dspico-firmware"]
	path = dspico-firmware
	url = https://github.com/LNH-team/dspico-firmware
[submodule "pico-loader"]
	path = pico-loader
	url = https://github.com/LNH-team/pico-loader
[submodule "pico-launcher"]
	path = pico-launcher
	url = https://github.com/LNH-team/pico-launcher
